#version=RHEL8
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eno1 --onboot=off --ipv6=auto --no-activate
network  --bootproto=dhcp --device=eno2 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno3 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno4 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$/qHnlNSnyPTpmjKL$yDslOPd4/Egu70Bjx0EU5PtzkCj9GE.BqVBu/gM3v3zSg4m0O7Q8rOwh4dVwO.2VXMg0CaaOvmS6zKfrlMTil1
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=sda --size=1024 --label=boot
part pv.382 --fstype="lvmpv" --ondisk=sda --size=20484
volgroup rootvg --pesize=4096 pv.382
logvol /usr --fstype="ext4" --size=4096 --label="usr" --name=usr --vgname=rootvg
logvol / --fstype="ext4" --size=2048 --label="root" --name=root --vgname=rootvg
logvol /var --fstype="ext4" --size=4096 --label="var" --name=var --vgname=rootvg
logvol /tmp --fstype="ext4" --size=2048 --label="tmp" --name=tmp --vgname=rootvg
logvol /home --fstype="ext4" --size=2048 --label="home" --name=home --vgname=rootvg

%packages
@^virtualization-host-environment
@virtualization-platform
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
