#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$4AbadjvCZuk07Aq.$hCOlIiq7mqytsuuM7FkeNz/44TMB/8mw.jOD0I3NWU9PrktBNkBpcuhJhjnhIsUHpldZWrKhxUeUX3zWLe7e40
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.375 --fstype="lvmpv" --ondisk=sda --size=14344
part /boot --fstype="ext4" --ondisk=sda --size=1024 --label=boot
volgroup rootvg --pesize=4096 pv.375
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=rootvg
logvol /  --fstype="ext4" --size=2048 --label="root" --name=root --vgname=rootvg
logvol /home  --fstype="ext4" --size=2048 --label="home" --name=home --vgname=rootvg
logvol /tmp  --fstype="ext4" --size=2048 --label="tmp" --name=tmp --vgname=rootvg
logvol /usr  --fstype="ext4" --size=4096 --label="usr" --name=usr --vgname=rootvg
logvol /var  --fstype="ext4" --size=2048 --label="var" --name=var --vgname=rootvg

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
